---
import type { UpcomingEvent } from '../components/event-calendar';
import Contact from '../components/contact.astro';
import { EventCalendar } from '../components/event-calendar';
import EventPreviewCard from '../components/event-preview-card.astro';
import Header from '../components/header.astro';
import { BUSINESS_NAME } from '../constans/business';
import Layout from '../layouts/layout.astro';

export const prerender = false;

const baseUrl = Astro.url.origin;
const upcomingRes = await fetch(new URL('/api/upcoming-events.json', baseUrl).href);

if (!upcomingRes.ok) {
  throw new Error('Failed to fetch events from API');
}

const upcomingEvents: UpcomingEvent[] = await upcomingRes.json();
---

<Layout title={BUSINESS_NAME}>
  <main
    class="mx-auto flex min-h-screen max-w-[900px] flex-col gap-10 p-4 pb-10 md:p-0 md:pb-10"
  >
    <Header />

    <Contact />

    <h2 class="text-2xl font-bold" id="lessons-calendar">Clases</h2>
    <EventCalendar client:only="react" />

    <h2 class="text-2xl font-bold" id="events-calendar">Eventos</h2>
    <ul class="flex flex-col gap-4" aria-label="Próximos eventos y novedades">
      {
        upcomingEvents.map(event => (
          <li>
            <EventPreviewCard event={event} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
