---
import Contact from '../components/contact.astro';
import { EventCalendar } from '../components/event-calendar';
import Header from '../components/header.astro';
import UpcomingEventsList from '../components/upcoming-events-list';
import { BUSINESS_NAME } from '../constans/business';
import Layout from '../layouts/layout.astro';

export const prerender = true;
---

<Layout title={BUSINESS_NAME}>
  <main
    class="mx-auto flex min-h-screen max-w-[900px] flex-col gap-10 p-4 pb-10 md:p-0 md:pb-10"
  >
    <Header />

    <Contact />

    <h2 class="text-2xl font-bold" id="lessons-calendar">Clases</h2>
    <EventCalendar client:only="react" />

    <h2 class="text-2xl font-bold" id="events-calendar">Eventos</h2>
    <UpcomingEventsList client:only="react" />
  </main>
</Layout>
