---
import Layout from '../layouts/Layout.astro'
import { BUSINESS_NAME } from '../constans/business'
import Navbar from '../components/navbar.astro'
---

  <Layout title={BUSINESS_NAME}>
    <main class='mx-auto min-h-screen max-w-[900px]'>
      <Navbar />
    </main>
  </Layout>
