---
import Logo from './logo.astro';
import Navbar from './navbar.astro';
---

  <header class='bg-surface sticky top-0 z-10 shrink'>
    <div class='flex items-center justify-between'>
      <Logo />

      <Navbar />
    </div>
  </header>
