---
import { BUSINESS_NAME } from '../constans/business'
// import { Image } from 'astro:assets'
import Logo from './logo.astro'
import Navbar from './navbar.astro'
import Contact from './contact.astro'
---

  <header class='mb-15'>
    <div class='mb-15 flex items-center justify-between'>
      <div class='flex items-center gap-4'>
        <Logo />
        <h1 class='mb-2 text-xl font-extrabold'>{BUSINESS_NAME}</h1>
      </div>
      <Navbar />
    </div>

    <Contact />
  </header>
