---
import Logo from './logo.astro'
import Navbar from './navbar.astro'
---

  <header class='bg-surface sticky top-0 z-10'>
    <div class='flex items-center justify-between'>
      <div class='flex items-center gap-4'>
        <Logo />
      </div>
      <Navbar />
    </div>
  </header>
